#first-circle {
    background-color: beige;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
    border: 10px;
    border-color: rgb(9, 9, 9);
    border-style: solid;
}

#green {
    background-color: green;
    border-style: double;
    border-radius: 250px 0 0 0;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 10%;
}

#red {
    background-color: rgb(174, 13, 8);
    border-style: double;
    border-radius: 250px 0 0 0;
    height: 250px;
    width: 250px;
    position: absolute;
    right: 10%;
}
#yellow {
    background-color: rgb(239, 220, 11);
    border-style: double;
    border-radius: 250px 0 0 0;
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 10%;
}
#blue {
    background-color: rgb(15, 11, 212);
    border-style: double;
    border-radius: 250px 0 0 0;
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}